:root{
    --terminal-bg: #1f1f1ff6;
    --term-shadow: #0000009f;
}
#terminal{
    position: relative;
    background-color: var(--terminal-bg);
    height: 80%;
    width: 80%;
    max-width: 950px;
    margin: 0 auto;
    border-radius: 0.3rem;
    box-shadow: 8px 8px var(--term-shadow);
    overflow: hidden;
}
.header{
    border-radius: .3rem .3rem 0 0;
    width: 100%;
    background-color: var(--accent);
    height: 20px;
    z-index: 2;
    position: relative;
    box-shadow: 0 4px 15px 10px var(--terminal-bg);
}
#term{
    max-height: calc(100% - 19px);
    width: calc(100% - 40px);
    padding: 0 20px;
    line-height: 1rem;
}