#workspace{
    display: flex;
    flex-wrap: wrap;
    max-width: 80vw;
    margin: 0 10vw;
}
.fake-terminal:not(#term),#terminal{
    position: relative;
    background-color: var(--terminal-bg);
    max-height: 50%;
    width: 49%;
    margin: 0;
    border-radius: 0.3rem;
    border: 2px solid var(--accent);
    transition: box-shadow .7s, transform .3s, opacity .3s;
}