:root{
    --terminal-bg: #1f1f1ff6;
    --term-shadow: #0000009f;
    --mipollaentuboca: #0f0f0f;
}
#terminal{
    position: relative;
    background-color: var(--terminal-bg);
    height: 80%;
    width: 80%;
    margin: 0 auto;
    border-radius: 0.3rem;
    box-shadow: 8px 8px var(--term-shadow);
}
.header{
    border-radius: .3rem .3rem 0 0;
    width: 100%;
    background-color: aliceblue;
    height: 20px;
}
#term{
    position: relative;
    top: -6;
    height: calc(100% - 40px);
    width: calc(100% - 20px);
    padding: 10px;
}
#prompt{
    position: absolute;
    bottom: 10px;
}
#stdin{
    background: none;
    border: none;
    color: var(--font-color);
    font-family: hack;
    margin-left: 2px;
}
